$ui-base-color: #191919;
$ui-base-lighter-color: lighten($ui-base-color, 26%) !default;
$ui-primary-color: #e6dddd;
$ui-secondary-color: #e68787;
$ui-highlight-color: #e68787;
$primary-text-color: #e6dddd;
